:root{
    --text-h1: 'B';
    --font-secondary: 'Momo Trust Display', sans-serif;
    --font-primary: 'Inter', sans-serif;
    --color-bg: #ecf6ff;
    --color-base: #0000ff;
    --color-important: #000066;
    --color-warning: #03ffff;
  
    --border:  border: 1px solid #eaeaea;
    --box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.1);
}
