<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="mystyle.css" />
    <title>Layout Playground</title>
  </head>
  <body>
   <section class="list_card">
    <div class="container">

      <div class="grid grid-col-3">
        <div class="card">
          <div class="card__img">
            <img src="background.webp" alt="Random Image" />
          </div>
          <div class="card_content">
            <h5 class="card__title">Title</h5>
            <p class="card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="card__button">More info</a>
          </div>
        </div>
        
         <div class="card">
          <div class="card__img">
            <img src="background.webp" alt="Random Image" />
          </div>
          <div class="card_content">
            <h5 class="card__title">Title</h5>
            <p class="card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="card__button">More info</a>
          </div>
        </div>

         <div class="card">
          <div class="card__img">
            <img src="background.webp" alt="Random Image" />
          </div>
          <div class="card_content">
            <h5 class="card__title">Title</h5>
            <p class="card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="card__button">More info</a>
          </div>
        </div>
        
      </div>
      
    </div>
   </section>
  </body>
</html>
