:root{
    --text-h1: 'A';
    --font-secondary: 'Momo Trust Display', sans-serif;
    --font-primary: 'Inter', sans-serif;
    --color-bg: #ecf6ff;
    --color-base: #90caf9;
    --color-important: #81c784;
    --color-warning: #f48fb1;
    --color-white: #fff;
    --border:  border: 1px solid #eaeaea;
    --box-shadow: -6px 5px 14px 0 rgba(0, 0, 0, 0.1);
}
