<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="mystyle.scss" />
    <title>Layout Playground</title>
  </head>
  <body>

    <section id="main">
      <h1>Resultado tema </h1>
      <div class="content">
        <div class="comun">
          <h5>Base</h5>
        </div>
        <div class="comun">
          <h5>Important</h5>
        </div>
        <div class="comun">
          <h5>Warning</h5>
        </div>
        <div class="comun">
          <h5>Principal font</h5>
          <h5>Secondary font</h5>
        </div>
        <div class="comun">
          <h5>Box with shadow</h5>
        </div>
      </div>
    </section>
    
  </body>
</html>
