@use './css_themes/theme_A.scss' as *;
// @use './css_themes/theme_B.scss' as *; // Descomentar esta linea para aplicar los estilos del tema B

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-primary);
  background: #ecf6ff;
}


section#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 18vw;
}
h1{
    font-family: var(--font-secondary);
    color: #333;
    padding: 0 1rem;
    position: relative;
    &:after{
     content: var(--text-h1);
    font-size: 2rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #c8ff38;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.content{
  max-width: 200px;
    width: 100%;
    margin: 0 auto;
    gap: 0.5rem;
    display: flex;
    flex-flow: column;
    .comun{
        font-size: 16px;
        color: #333;
        padding: 1rem;
       

        &:nth-child(1){
            background-color: var(--color-base);
            border: var(--border);
            color: var(--color-white)
        }
        &:nth-child(2){
            background-color: var(--color-important);
            border: var(--border);
            color: var(--color-white) 
        }
        &:nth-child(3){
            background-color: var(--color-warning);
            border: var(--border);
        }
         &:nth-child(4) h5:last-child{
            font-family: var(--font-secondary);
            padding-top: 4px;
        }
         &:nth-child(5){
            box-shadow: var(--box-shadow);
        }
        
    } 
  
}  